.editor-layout {
  height: 100vh;
  background: #f5f5f5;

  .editor-left-panel {
    background: #fff;
    border-right: 1px solid #e8e8e8;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #d9d9d9;
      border-radius: 3px;

      &:hover {
        background: #bfbfbf;
      }
    }
  }

  .editor-center-panel {
    background: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .editor-right-panel {
    background: #fff;
    border-left: 1px solid #e8e8e8;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #d9d9d9;
      border-radius: 3px;

      &:hover {
        background: #bfbfbf;
      }
    }
  }

  .editor-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #fff;
  }
}
